# Demonstrate more functionality with data in Jupyter

## Import old data from last lesson

In [11]:
from weather_utils import read_csv_rows

filename: str = "../data/weather.csv"
data: list[dict[str,str]] = read_csv_rows(filename)
data

[{'day': 'monday', 'low': '56', 'high': '75'},
 {'day': 'tuesday', 'low': '53', 'high': '72'},
 {'day': 'wednesday', 'low': '50', 'high': '72'}]

## Data in column oriented format

In [12]:
from weather_utils import columnar

column_data: dict[str,list[str]] = columnar(data)
column_data

{'day': ['monday', 'tuesday', 'wednesday'],
 'low': ['56', '53', '50'],
 'high': ['75', '72', '72']}

## Printing data

In [13]:
from tabulate import tabulate

tabulate(column_data, column_data.keys(), 'html')

'<table>\n<thead>\n<tr><th>day      </th><th style="text-align: right;">  low</th><th style="text-align: right;">  high</th></tr>\n</thead>\n<tbody>\n<tr><td>monday   </td><td style="text-align: right;">   56</td><td style="text-align: right;">    75</td></tr>\n<tr><td>tuesday  </td><td style="text-align: right;">   53</td><td style="text-align: right;">    72</td></tr>\n<tr><td>wednesday</td><td style="text-align: right;">   50</td><td style="text-align: right;">    72</td></tr>\n</tbody>\n</table>'

## Get table of just monday and tuesday data

In [16]:
smaller_data_set: dict[str, list[str]] = {}

for key in column_data:
    # make an entry with key as key and first 2 elements of list as values
    sub_list: list[str] = []
    get_data: list[str] = column_data[key]
    idx: int = 0
    while idx < 2:
        sub_list.append(get_data[idx])
        idx += 1
    smaller_data_set[key] = sub_list

tabulate(smaller_data_set, smaller_data_set.keys(), 'html')

'<table>\n<thead>\n<tr><th>day    </th><th style="text-align: right;">  low</th><th style="text-align: right;">  high</th></tr>\n</thead>\n<tbody>\n<tr><td>monday </td><td style="text-align: right;">   56</td><td style="text-align: right;">    75</td></tr>\n<tr><td>tuesday</td><td style="text-align: right;">   53</td><td style="text-align: right;">    72</td></tr>\n</tbody>\n</table>'